.image-ana{
    height: 45vh !important;
    width:40vw !important
}
.image-ana-2{
    height: 42vh !important;
    width:40vw !important
}
.image-ana-3{
    margin-top: 4vh !important;
    height: 37vh !important;
    width:40vw !important
}